{<<"app">>,<<"ex_unicode">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Functions to introspect the Unicode character database and\nto provide fast codepoint lookups and guards.">>}.
{<<"elixir">>,<<"~> 1.8">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/unicode">>,<<"lib/unicode/emoji.ex">>,
  <<"lib/unicode/combining_class.ex">>,<<"lib/unicode/property.ex">>,
  <<"lib/unicode/block.ex">>,<<"lib/unicode/script.ex">>,
  <<"lib/unicode/category.ex">>,<<"lib/unicode.ex">>,<<"lib/utils.ex">>,
  <<"data">>,<<"data/properties.txt">>,<<"data/blocks.txt">>,
  <<"data/emoji.txt">>,<<"data/scripts.txt">>,<<"data/categories.txt">>,
  <<"data/property_value_alias.txt">>,<<"data/combining_class.txt">>,
  <<"config">>,<<"config/config.exs">>,<<"logo.png">>,<<"mix.exs">>,
  <<"README.md">>,<<"CHANGELOG.md">>,<<"LICENSE.md">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Changelog">>,
   <<"https://github.com/elixir-unicode/unicode/blob/v1.1.0-dev/CHANGELOG.md">>},
  {<<"GitHub">>,<<"https://github.com/elixir-unicode/unicode">>},
  {<<"Readme">>,
   <<"https://github.com/elixir-unicode/unicode/blob/v1.1.0-dev/README.md">>}]}.
{<<"name">>,<<"ex_unicode">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"1.1.0-dev">>}.
