name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-20.04
    env:
      MIX_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          # minimum required versions
          - otp: "27.2.4"
            elixir: "1.18.4-otp-27"
          - otp: "28.3.1"
            elixir: "1.18.4-otp-28"
          - otp: "27.2.4"
            elixir: "1.19.5-otp-27"
          - otp: "28.3.1"
            elixir: "1.19.5-otp-28"
          - otp: "28.3.1"
            elixir: "1.20.0-rc.1-otp-28"
            lint: true
    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.otp}}
          elixir-version: ${{matrix.pair.elixir}}

      - uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{matrix.pair.elixir}}-${{matrix.pair.otp}}-${{ hashFiles('**/mix.lock') }}

      - run: mix deps.get

      - run: mix deps --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test
